@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Anna <3 Jack</title>
    <meta name="description" content="Anna och Jack bröllop" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href=".../css/bootstrap.min.css" />
    <link rel="stylesheet" href=".../css/animate.min.css" />
    <link rel="stylesheet" href=".../css/ionicons.min.css" />
    <link rel="stylesheet" href=".../css/styles.css" />
</head>
<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="~/"><i class="ion-ios-heart"></i> #annaojack2017</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="~/">Välkommen</a>

                    </li>
                    <li>
                        <a class="page-scroll" href="~/">OSA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">Praktisk information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">Hitta hit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/historia">Vår Historia</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/foljet"> Bröllopsföljet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/toastmasters">Toastmasters</a>
                    </li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </nav>


    <section class="bg-primary">
        <div class="container">


            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Malin Råhlander</h2>
                <a class="gallery-box">
                    <img src="~/assets/malin.jpg" class="img-responsive">
                </a>
                <p class="text-faded">Malin och bruden träffades på universitetet under 2011 och blev direkt väldigt nära vänner. Hon är en givmild tjej med ett hjärta av guld. När hon inte spenderar tid på Sandhamn gör hon karriär i HR-branschen.</p>
            </div>

            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Karolina Brodin</h2>
                <a class="gallery-box">
                    <img src="~/assets/Karolina.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Brudens äldsta vän och ständiga följeslagare genom livet. De träffades på dagis vid 3 års ålder och har sedan dess följts åt genom åren. Karolina är en äventyrslysten tjej med en stor dos humor. När hon inte är ute och reser arbetar hon som konsult på PwC.
                </p>
            </div>
            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Katherine Clancy</h2>
                <a class="gallery-box">
                    <img src="~/assets/Katie.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Bruden och Katie lärde känna varandra på fotbollsplanen vid 5 års ålder och har sedan dess delat många härliga stunder. Katie är utbildad sjuksköterska och när hon inte hälsar på familjen i USA delar hon med sig av sin glädje och härliga energi till oss här hemma.
                </p>
            </div>
            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Sara Gyllstedt</h2>
                <a class="gallery-box">
                    <img src="~/assets/Sara.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Sara och bruden har också träffats genom fotbollen som små och har umgåtts mycket genom åren. Sara är en tjej med stark vilja och härlig syn på livet. När hon inte utforskar naturen på Nya Zeeland inspirerar hon oss andra med sin kunskap inom hälsa och livsstil.
                </p>
            </div>

        </div>
        <div class="container">


            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Fredrik Wagner</h2>
                <a class="gallery-box">
                    <img src="~/assets/fredrik.jpg" class="img-responsive">
                </a>
                <p class="text-faded">En av brudgummens äldsta vänner. De lärde känna varandra på hockeyplanen och har upplevt massor tillsammans. Fredrik bör man hänga med på resor och äventyr. Han är även en stjärna på att åka bräda och blanda drinkar. </p>
            </div>

            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Marcus Strömbrink</h2>
                <a class="gallery-box">
                    <img src="~/assets/marcus.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Marcus är brudgummens vän från gymnasiet som förmodligen känner honom bättre än någon annan. Marcus borde bli politiker och rädda världen eller flytta in som inneboende hos brudparet igen.
                </p>
            </div>
            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Joachim Good</h2>
                <a class="gallery-box">
                    <img src="~/assets/joachim.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Brudgummens bror som alltid håller huvudet kallt och är den enda av bröderna med bollsinne. Joachim träffade skånska Tove på universitetet i Örebro och har precis skolat om sig till IT-konsult.     
                </p>
            </div>
            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Jacob Good</h2>
                <a class="gallery-box">
                    <img src="~/assets/jacob.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Jacob är den yngsta i syskonskaran och blir ofta ihopblandad med sin äldsta bror. Han är en jäkel på att snacka och sprida energi. Jacob följer sina äldre bröders fotspår och pluggar nu i Örebro. 
                </p>
            </div>

        </div>
    </section>










    <!--scripts loaded here -->
    <script src=".../js/jquery.min.js"></script>
    <script src=".../js/bootstrap.min.js"></script>
    <script src=".../js/jquery.easing.min.js"></script>
    <script src=".../js/wow.js"></script>
    <script src=".../js/scripts.js"></script>

    <script>
        $(document).ready(function () {

        });
    </script>


</body>
</html>