@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Anna <3 Jack</title>
    <meta name="description" content="Anna och Jack bröllop" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href=".../css/bootstrap.min.css" />
    <link rel="stylesheet" href=".../css/animate.min.css" />
    <link rel="stylesheet" href=".../css/ionicons.min.css" />
    <link rel="stylesheet" href=".../css/styles.css" />
</head>
<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="~/"><i class="ion-ios-heart"></i> #annaojack2017</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="~/">Välkommen</a>
                       
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">OSA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">Praktisk information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">Hitta hit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/historia">Vår Historia</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/foljet"> Bröllopsföljet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/toastmasters">Toastmasters</a>
                    </li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </nav>


    <section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h1 class="margin-top-0 text-primary">Vår historia</h1>
                    <br>
                    <p class="text-faded">
                        Vår berättelse började inte med kärlek vid första ögonkastet. För att vara ärliga minns vi varken vårt första möte, vår första konversation eller vår första kram. När vi vid 15 respektive 16 års ålder började umgås i samma vänskapskrets i Sollentuna hade vi ingen aning om att vi skulle gifta oss 11 år senare.

                        2010 började Jack studera till personalvetare vid Stockholms Universitet och året därpå startade Anna samma utbildning. Därefter arbetade vi tillsammans som kollegor på Academic Work under två års tid och lärde känna varande bättre än tidigare.

                        På Jacks sista firmafest med Academic Work tog han modet till sig och (som man säger) la in en stöt på Anna. Efter ett par veckor och många dejter började vi lära känna varandra på riktigt och det var under vintern 2013 som vänskapen utvecklades till kärlek. Vi flyttade ihop sommaren därpå och sedan dess har det stått klart – det ska alltid vara vi två! I solnedgången den 8 juli 2016 gick Jack ner på knä när vi var ute med båten.

                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-6">
                <a class="gallery-box">
                    <img src="~/assets/hand.jpg" class="img-responsive">
                </a>

            </div> 
            <div class="col-sm-6 col-sm-6">
                <a class="gallery-box">
                    <img src="~/assets/inboat.jpg" class="img-responsive">
                </a>
                
            </div> 
        </div>
    </section>

  
 
    


 



    <!--scripts loaded here -->
    <script src=".../js/jquery.min.js"></script>
    <script src=".../js/bootstrap.min.js"></script>
    <script src=".../js/jquery.easing.min.js"></script>
    <script src=".../js/wow.js"></script>
    <script src=".../js/scripts.js"></script>
  
    <script>
        $(document).ready(function () {

    });
    </script>

          
</body>
</html>