@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Anna <3 Jack</title>
    <meta name="description" content="Anna och Jack bröllop" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />


</head>
<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-heart"></i> #annaojack2017</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Välkommen</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">OSA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">Praktisk information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">Hitta hit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/historia">Vår Historia</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/foljet"> Bröllopsföljet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/toastmasters">Toastmasters</a>
                    </li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">

                @*<h2 style="color: #28427B;">Anna <i class="icon-small ion-ios-heart" style="color: #28427B"></i> Jack</h2>*@
                <h3 style="color: #28427B">26 Augusti 2017</h3>
                <hr>
                @*<a href="#one" style="border-color:#28427B" class="btn btn-primary btn-l page-scroll"><i class="icon-bar ion-ios-arrow-down wow fadeIn" data-wow-delay=".3s" style=" color:#28427B"></i></a>*@

                @*ion-ios-arrow-down*@
            </div>
        </div>

    </header>

    <section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h1 class="margin-top-0 text-primary">Välkommen</h1>
                    <br>
                    <p class="text-faded">
                        Nedräkningen har äntligen börjat! Vi gissar att du hamnat här då det trillat ned ett inbjudningskort i din brevlåda. Förhoppningsvis innebär det att du ingår i skaran av gäster vid vårt bröllop den 26 augusti 2017. Istället för att trycka in all information i inbjudan har vi valt att skapa denna hemsida med allt ni behöver veta inför vår stora dag (och säkert mycket annat)! Klicka dig runt i menyraderna eller skrolla nedåt och glöm inte att OSA innan den 20e juni.
                    </p>
                    <a href="#last" class="btn btn-default btn-lg page-scroll" style="font-family: 'Dancing Script';">Tacka ja på min inbjudan</a><a href="#two" class="btn btn-default btn-lg page-scroll" style="font-family: 'Dancing Script';">Ge mig info om bröllopet</a>
                </div>
            </div>
        </div>
    </section>

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    @*<a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="./assets/Annaojack1.jpg">*@  @*exempel*@
                    <a class="gallery-box">
                        <img src="~/assets/Annaojack1.jpg" class="img-responsive" alt="Image 1">
                        @*<div class="gallery-box-caption">
                                <div class="gallery-box-content">
                                    <div>
                                        <i class="icon-lg ion-ios-search"></i>
                                    </div>
                                </div>
                            </div>*@
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="gallery-box">
                        <img src="~/assets/Annaojack2.jpg" class="img-responsive" alt="Image 2">

                    </a>
                </div>
                <div class="clearfix hidden-lg"> </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="gallery-box">
                        <img src="~/assets/AnnaoJack3.jpg" class="img-responsive" alt="Image 3">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="gallery-box">
                        <img src="~/assets/Annaojack4.jpg" class="img-responsive" alt="Image 4">

                    </a>
                </div>
                <div class="clearfix hidden-lg"> </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="gallery-box">
                        <img src="~/assets/Annaojack5.jpg" class="img-responsive" alt="Image 5">

                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="gallery-box">
                        <img src="~/assets/Annaojack6.jpg" class="img-responsive" alt="Image 6">

                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    @*<h2 class="margin-top-0 text-primary">Info om bröllopet</h2>*@
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-clock wow fadeIn" data-wow-delay".3s" style="cursor: pointer" onclick="showMyModal('tidplats')"></i>
                        <h3 style="cursor: pointer" onclick="showMyModal('tidplats')">Tid & plats</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-android-home wow fadeInUp" data-wow-delay=".2s" style="cursor: pointer" onclick="showMyModal('boende')"></i>
                        <h3 style="cursor: pointer" onclick="showMyModal('boende')">Boende</h3>
                        @*<p class="text-muted">Här berättar vi om vart det är? </p>*@
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-happy wow fadeIn" data-wow-delay=".3s" style="cursor: pointer" onclick="showMyModal('aktiviteter')"></i>
                        <h3 style="cursor: pointer" onclick="showMyModal('aktiviteter')">Aktiviteter</h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-bowtie wow fadeIn" data-wow-delay=".3s" style="cursor: pointer" onclick="showMyModal('kladsel')"></i>
                        <h3 style="cursor: pointer" onclick="showMyModal('kladsel')">Klädsel</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-bug wow fadeIn" data-wow-delay=".3s" style="cursor: pointer" onclick="showMyModal('barnhusdjur')"></i>
                        <h3 style="cursor: pointer" onclick="showMyModal('barnhusdjur')">Barn & husdjur</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-android-favorite-outline wow fadeIn" data-wow-delay=".3s" style="cursor: pointer" onclick="showMyModal('onskelista')"></i>
                        <h3 style="cursor: pointer" onclick="showMyModal('onskelista')">Önskelista</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="four">
        @*<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" id="googleMap" style="width:auto; height:auto;">


            </div>*@

        <div class="google-maps">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4075.278016847287!2d18.40887221249694!3d59.288884408127544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8cd1fb67909b802!2sIngar%C3%B6+kyrka!5e0!3m2!1ssv!2sse!4v1486918020490" width="600" height="350" frameborder="0" style="border:0"></iframe>

        </div>

    </section>

    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Tacka ja på min inbjudan</h2>
                    @*<hr class="primary">*@
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form id="OSA" class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input required type="text" class="form-control" placeholder="Namn">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input required type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input required type="text" class="form-control" placeholder="Telefonnummer">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input type="text" class="form-control" rows="9" placeholder="Jag ser mest fram emot...">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <input type="text" class="form-control" rows="9" placeholder="Jag dansar helst till...">
                        </div>

                        <div class="col-md-12">
                            <label></label>        
                            <input type="text" hidden class="form-control" rows="9" placeholder="Jag är allergisk mot...">
                        </div>
                        

                        <div class="col-md-12">
                            <label></label>
                            <input required type="text" class="form-control" rows="9" placeholder="Om jag får välja sover jag helst (på Värmdö/på egen båt/hemma)..."></input>
                        </div>
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <button type="submit" class="btn btn-default btn-lg" style="font-family: 'Dancing Script';" onclick="sendEmail()">Skicka</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </section>

    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" id="galleryImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Stäng <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="timeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="timeModalDiv">
                </div>
            </div>
        </div>
    </div>
    <div id="housingModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="housingModalDiv">
                </div>
            </div>
        </div>
    </div>
    <div id="activityModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="activityModalDiv">
                </div>
            </div>
        </div>
    </div>
    <div id="dressingModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="dressingModalDiv">
                </div>
            </div>
        </div>
    </div>
    <div id="childrenModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="childrenModalDiv">
                </div>
            </div>
        </div>
    </div>
    <div id="wishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="wishlistModalDiv">
                </div>
            </div>
        </div>
    </div>

    <!--scripts loaded here -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    (function(){
    emailjs.init("user_3PzsEofN9gEPHVHmQasvN");
    })();
    </script>

    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(59.2895042, 18.410393),

                zoom: 15,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

    

        function sendEmail() {

            $("#OSA").validate({
                submitHandler: function (form) {
                    $(document.body).css({ 'cursor': 'wait' });

                    var phone = $('#guestPhoneRsvp').val();
                    var email = $('#guestEmailRsvp').val();
                    var name = $('#guestNameRsvp').val();
                    var allergic = $('#guestAllergicRsvp').val();
                    var dancing = $('#guestDancingRsvp').val();
                    var looking = $('#guestLookingRsvp').val();
                    var sleep = $('#guestSleepRsvp').val();
                    var coming = $('#guestComingRsvp').val();


                    emailjs.send("testarbrollopet_gmail_com", "svar_p_inbjudan", { from_guest: name, coming_html: coming, guest_email: email, guest_phone: phone, allergic_html: allergic, dancing_html: dancing, looking_html: looking, sleep_html: sleep })
                    .then(function (response) {
                        alert("Tack! Ditt mejl är nu skickat");
                    }, function (err) {
                        aler("Ooops! Något gick snett, du får ta och mejla annaojack2017@gmail.com istället...")
                    });

                    $(document.body).css({ 'cursor': 'default' });
                    $('#sendingButton').prop('disabled');
                    var phone = $('#guestPhoneRsvp').val('');
                    var email = $('#guestEmailRsvp').val('');
                    var name = $('#guestNameRsvp').val('');
                    var allergic = $('#guestAllergicRsvp').val('');
                    var dancing = $('#guestDancingRsvp').val('');
                    var looking = $('#guestLookingRsvp').val('');
                    var sleep = $('#guestSleepRsvp').val('');
                    var coming = $('#guestComingRsvp').val('');
                }
            });



    </script>
    <script>
        $(document).ready(function () {


           

                var isMobile = window.matchMedia("only screen and (max-width: 760px)");

                if (isMobile.matches) {
                    //make google maps smaller:
                    $(".google-maps iframe").css("width", "100%");
                    $(".google-maps iframe").css("height", "100%");
                    $(".google-maps").css("padding-left", "0%");


                }
     

            // ID of the Google Spreadsheet
            var spreadsheetID = "1Ln1hqL5EhxRUfDhbIjVKiNbIbFcEejm8_TWLDC0-Kbg";
            //https://docs.google.com/spreadsheets/d/1Ln1hqL5EhxRUfDhbIjVKiNbIbFcEejm8_TWLDC0-Kbg/pubhtml




            // Make sure it is public or set to Anyone with link can view
            var url = "https://spreadsheets.google.com/feeds/list/" + spreadsheetID + "/od6/public/values?alt=json";

            $.getJSON(url, function (data) {

                var entry = data.feed.entry;

                $(entry).each(function () {
                    if ('tidplats' == this.gsx$button.$t) {
                        $('#timeModalDiv').append('<h2 class="text-center">' + this.gsx$title.$t + '</h2><p class="text-center">' + this.gsx$text.$t + '</p><br /><button class="btn btn-primary btn-l center-block" style="background-color: dimgrey " data-dismiss="modal" aria-hidden="true"> Stäng </button>');

                    }
                    if ('boende' == this.gsx$button.$t) {
                        $('#housingModalDiv').append('<h2 class="text-center">' + this.gsx$title.$t + '</h2><p class="text-center">' + this.gsx$text.$t + '</p><br /><button class="btn btn-primary btn-l center-block" style="background-color: dimgrey " data-dismiss="modal" aria-hidden="true"> Stäng </button>');

                    }
                    if ('aktiviteter' == this.gsx$button.$t) {
                        $('#activityModalDiv').append('<h2 class="text-center">' + this.gsx$title.$t + '</h2><p class="text-center">' + this.gsx$text.$t + '</p><br /><button class="btn btn-primary btn-l center-block" style="background-color: dimgrey " data-dismiss="modal" aria-hidden="true"> Stäng </button>');

                    }
                    if ('kladsel' == this.gsx$button.$t) {
                        $('#dressingModalDiv').append('<h2 class="text-center">' + this.gsx$title.$t + '</h2><p class="text-center">' + this.gsx$text.$t + '</p><br /><button class="btn btn-primary btn-l center-block" style="background-color: dimgrey " data-dismiss="modal" aria-hidden="true"> Stäng </button>');

                    }
                    if ('barnhusdjur' == this.gsx$button.$t) {
                        $('#childrenModalDiv').append('<h2 class="text-center">' + this.gsx$title.$t + '</h2><p class="text-center">' + this.gsx$text.$t + '</p><br /><button class="btn btn-primary btn-l center-block" style="background-color: dimgrey " data-dismiss="modal" aria-hidden="true"> Stäng </button>');

                    }
                    if ('onskelista' == this.gsx$button.$t) {
                        $('#wishlistModalDiv').append('<h2 class="text-center">' + this.gsx$title.$t + '</h2><p class="text-center">' + this.gsx$text.$t + '</p><br /><button class="btn btn-primary btn-l center-block" style="background-color: dimgrey " data-dismiss="modal" aria-hidden="true"> Stäng </button>');

                    }


                });


            });

        });



        function showMyModal(info) {

            if (info == 'tidplats') {
                $('#timeModal').modal('show');
            }
            if (info == 'boende') {
                $('#housingModal').modal('show');
            }
            if (info == 'aktiviteter') {
                $('#activityModal').modal('show');
            }
            if (info == 'kladsel') {
                $('#dressingModal').modal('show');
            }
            if (info == 'barnhusdjur') {
                $('#childrenModal').modal('show');
            }
            if (info == 'onskelista') {
                $('#wishlistModal').modal('show');
            }



        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</body>
</html>