@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Anna <3 Jack</title>
    <meta name="description" content="Anna och Jack bröllop" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href=".../css/bootstrap.min.css" />
    <link rel="stylesheet" href=".../css/animate.min.css" />
    <link rel="stylesheet" href=".../css/ionicons.min.css" />
    <link rel="stylesheet" href=".../css/styles.css" />
</head>
<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="~/"><i class="ion-ios-heart"></i> #annaojack2017</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="~/">Välkommen</a>

                    </li>
                    <li>
                        <a class="page-scroll" href="~/">OSA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">Praktisk information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/">Hitta hit</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/historia">Vår Historia</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/foljet"> Bröllopsföljet</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/home/toastmasters">Toastmasters</a>
                    </li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </nav>


    <section class="bg-primary">
        <div class="container">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <p class="text-dark" style="position: center; font-size: 20px;">Om du vill hålla tal eller spexa under dagen kontaktar du någon av våra eminenta toastmasters!</p>
                <br />
                <br />
                <br />                
            </div>
            
            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Louise Gillberg</h2>
                <a class="gallery-box">
                    <img src="~/assets/Louise.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Vår toastmadame är en tjej med många järn i elden. När hon inte är i stallet eller tränar agility så dansar hon loss på en nattklubb nära dig. Louise är alltid redo att ha roligt och höjer stämningen i vilket sällskap hon än är i.
                </p>
                <p class="text-faded"><i class="icon-bar ion-ios-telephone wow fadeIn" data-wow-delay=".3s">&nbsp;</i>070-499 32 01</p>
                <p class="text-faded"><i class="icon-bar ion-ios-email wow fadeIn" data-wow-delay=".3s">&nbsp;</i>louise.gillberg@hotmail.se</p>
                
                </div>
            <br />
            <br />
            <div class="col-sm-6 col-sm-6">
                <h2 class="margin-top-0 text-primary">Niklas Andersson</h2>
                <a class="gallery-box">
                    <img src="~/assets/Niklas.jpg" class="img-responsive">
                </a>
                <p class="text-faded">
                    Med sin humor och intelligens är vår toastmaster ett gott sällskap i alla lägen. Han lyckades till och med stå ut med att bo tillsammans med Jack på 18 kvm under 5 månaders studier i USA. Det får ändå räknas som ett gott betyg på en väldigt god vän.
                </p>
                <p class="text-faded"><i class="icon-bar ion-ios-telephone wow fadeIn" data-wow-delay=".3s">&nbsp;</i>070-324 83 47</p>
                <p class="text-faded"><i class="icon-bar ion-ios-email wow fadeIn" data-wow-delay=".3s">&nbsp;</i>p.niklas.andersson@gmail.com</p>
               
             

            </div>
            <br />
            <br />
        </div>

    </section>










    <!--scripts loaded here -->
    <script src=".../js/jquery.min.js"></script>
    <script src=".../js/bootstrap.min.js"></script>
    <script src=".../js/jquery.easing.min.js"></script>
    <script src=".../js/wow.js"></script>
    <script src=".../js/scripts.js"></script>

    <script>
        $(document).ready(function () {

        });
    </script>


</body>
</html>